<!DOCTYPE html>    
<html>    
<head>

<title>Push Email</title>
<link rel="shortcut icon" href="favicon.ico">

<style type="text/css">
table[name="blk_permission"], table[name="blk_footer"] {display:none;} 
</style>

<meta name="googlebot" content="noindex" />
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW"/><link rel="stylesheet" href="/style/dhtmlwindow.css" type="text/css" />
<script type="text/javascript" src="/script/dhtmlwindow.js">
/***********************************************
* DHTML Window Widget- © Dynamic Drive (www.dynamicdrive.com)
* This notice must stay intact for legal use.
* Visit www.dynamicdrive.com for full source code
***********************************************/
</script>
<link rel="stylesheet" href="/style/modal.css" type="text/css" />
<script type="text/javascript" src="/script/modal.js"></script>
<script type="text/javascript">
	function show_popup(popup_name,popup_url,popup_title,width,height) {var widthpx = width +  "px";var heightpx = height +  "px";emailwindow = dhtmlmodal.open(popup_name , 'iframe', popup_url , popup_title , 'width=' + widthpx + ',height='+ heightpx + ',center=1,resize=0,scrolling=1');}
 function show_modal(popup_name,popup_url,popup_title,width,height){var widthpx = width +  "px";var heightpx = height +  "px";emailwindow = dhtmlmodal.open(popup_name , 'iframe', popup_url , popup_title , 'width=' + widthpx + ',height='+ heightpx + ',modal=1,center=1,resize=0,scrolling=1');}
var popUpWin=0;
	function popUpWindow(URLStr,PopUpName, width, height){if(popUpWin) { if(!popUpWin.closed) popUpWin.close();}var left = (screen.width - width) / 2;var top = (screen.height - height) / 2;popUpWin = open(URLStr, PopUpName,	'toolbar=0,location=0,directories=0,status=0,menub	ar=0,scrollbar=0,resizable=0,copyhistory=yes,width='+width+',height='+height+',left='+left+', 	top='+top+',screenX='+left+',screenY='+top+'');}
</script>
    
<meta content="width=device-width, initial-scale=1.0" name="viewport">    
<style type="text/css">    
/*** BMEMBF Start ***/    
[name=bmeMainBody]{min-height:1000px;}    
@media only screen and (max-width: 480px){table.blk, table.tblText, .bmeHolder, .bmeHolder1, table.bmeMainColumn{width:100% !important;} }        
@media only screen and (max-width: 480px){.bmeImageCard table.bmeCaptionTable td.tblCell{padding:0px 20px 20px 20px !important;} }        
@media only screen and (max-width: 480px){.bmeImageCard table.bmeCaptionTable.bmeCaptionTableMobileTop td.tblCell{padding:20px 20px 0 20px !important;} }        
@media only screen and (max-width: 480px){table.bmeCaptionTable td.tblCell{padding:10px !important;} }        
@media only screen and (max-width: 480px){table.tblGtr{ padding-bottom:20px !important;} }        
@media only screen and (max-width: 480px){td.blk_container, .blk_parent, .bmeLeftColumn, .bmeRightColumn, .bmeColumn1, .bmeColumn2, .bmeColumn3, .bmeBody{display:table !important;max-width:600px !important;width:100% !important;} }        
@media only screen and (max-width: 480px){table.container-table, .bmeheadertext, .container-table { width: 95% !important; } }        
@media only screen and (max-width: 480px){.mobile-footer, .mobile-footer a{ font-size: 13px !important; line-height: 18px !important; } .mobile-footer{ text-align: center !important; } table.share-tbl { padding-bottom: 15px; width: 100% !important; } table.share-tbl td { display: block !important; text-align: center !important; width: 100% !important; } }        
@media only screen and (max-width: 480px){td.bmeShareTD, td.bmeSocialTD{width: 100% !important; } }        
@media only screen and (max-width: 480px){td.tdBoxedTextBorder{width: auto !important;}}    
@media only screen and (max-width: 480px){table.blk, table[name=tblText], .bmeHolder, .bmeHolder1, table[name=bmeMainColumn]{width:100% !important;} }    
@media only screen and (max-width: 480px){.bmeImageCard table.bmeCaptionTable td[name=tblCell]{padding:0px 20px 20px 20px !important;} }    
@media only screen and (max-width: 480px){.bmeImageCard table.bmeCaptionTable.bmeCaptionTableMobileTop td[name=tblCell]{padding:20px 20px 0 20px !important;} }    
@media only screen and (max-width: 480px){table.bmeCaptionTable td[name=tblCell]{padding:10px !important;} }    
@media only screen and (max-width: 480px){table[name=tblGtr]{ padding-bottom:20px !important;} }    
@media only screen and (max-width: 480px){td.blk_container, .blk_parent, [name=bmeLeftColumn], [name=bmeRightColumn], [name=bmeColumn1], [name=bmeColumn2], [name=bmeColumn3], [name=bmeBody]{display:table !important;max-width:600px !important;width:100% !important;} }    
@media only screen and (max-width: 480px){table[class=container-table], .bmeheadertext, .container-table { width: 95% !important; } }    
@media only screen and (max-width: 480px){.mobile-footer, .mobile-footer a{ font-size: 13px !important; line-height: 18px !important; } .mobile-footer{ text-align: center !important; } table[class="share-tbl"] { padding-bottom: 15px; width: 100% !important; } table[class="share-tbl"] td { display: block !important; text-align: center !important; width: 100% !important; } }    
@media only screen and (max-width: 480px){td[name=bmeShareTD], td[name=bmeSocialTD]{width: 100% !important; } }    
@media only screen and (max-width: 480px){td[name=tdBoxedTextBorder]{width: auto !important;}}    
@media only screen and (max-width: 480px){.bmeImageCard table.bmeImageTable{height: auto !important; width:100% !important; padding:20px !important;clear:both; float:left !important; border-collapse: separate;} }    
@media only screen and (max-width: 480px){.bmeMblInline table.bmeImageTable{height: auto !important; width:100% !important; padding:10px !important;clear:both;} }    
@media only screen and (max-width: 480px){.bmeMblInline table.bmeCaptionTable{width:100% !important; clear:both;} }    
@media only screen and (max-width: 480px){table.bmeImageTable{height: auto !important; width:100% !important; padding:10px !important;clear:both; } }    
@media only screen and (max-width: 480px){table.bmeCaptionTable{width:100% !important;  clear:both;} }    
@media only screen and (max-width: 480px){table.bmeImageContainer{width:100% !important; clear:both; float:left !important;} }    
@media only screen and (max-width: 480px){table.bmeImageTable td{padding:0px !important; height: auto; } }    
@media only screen and (max-width: 480px){td.bmeImageContainerRow{padding:0px !important;}}    
@media only screen and (max-width: 480px){img.mobile-img-large{width:100% !important; height:auto !important;} }    
@media only screen and (max-width: 480px){img.bmeRSSImage{max-width:320px; height:auto !important;}}    
@media only screen and (min-width: 640px){img.bmeRSSImage{max-width:600px !important; height:auto !important;} }    
@media only screen and (max-width: 480px){.trMargin img{height:10px;} }    
@media only screen and (max-width: 480px){div.bmefooter, div.bmeheader{ display:block !important;} }    
@media only screen and (max-width: 480px){.tdPart{ width:100% !important; clear:both; float:left !important; } }    
@media only screen and (max-width: 480px){table.blk_parent1, table.tblPart {width: 100% !important; } }    
@media only screen and (max-width: 480px){.tblLine{min-width: 100% !important;}}     
@media only screen and (max-width: 480px){.bmeMblCenter img { margin: 0 auto; } }       
@media only screen and (max-width: 480px){.bmeMblCenter, .bmeMblCenter div, .bmeMblCenter span  { text-align: center !important; text-align: -webkit-center !important; } }    
@media only screen and (max-width: 480px){.bmeNoBr br, .bmeImageGutterRow, .bmeMblStackCenter .bmeShareItem .tdMblHide { display: none !important; } }    
@media only screen and (max-width: 480px){.bmeMblInline table.bmeImageTable, .bmeMblInline table.bmeCaptionTable, td.bmeMblInline { clear: none !important; width:50% !important; } }    
@media only screen and (max-width: 480px){.bmeMblInlineHide, .bmeShareItem .trMargin { display: none !important; } }    
@media only screen and (max-width: 480px){.bmeMblInline table.bmeImageTable img, .bmeMblShareCenter.tblContainer.mblSocialContain, .bmeMblFollowCenter.tblContainer.mblSocialContain{width: 100% !important; } }    
@media only screen and (max-width: 480px){.bmeMblStack> .bmeShareItem{width: 100% !important; clear: both !important;} }    
@media only screen and (max-width: 480px){.bmeShareItem{padding-top: 10px !important;} }    
@media only screen and (max-width: 480px){.tdPart.bmeMblStackCenter, .bmeMblStackCenter .bmeFollowItemIcon {padding:0px !important; text-align: center !important;} }    
@media only screen and (max-width: 480px){.bmeMblStackCenter> .bmeShareItem{width: 100% !important;} }    
@media only screen and (max-width: 480px){ td.bmeMblCenter {border: 0 none transparent !important;}}    
@media only screen and (max-width: 480px){.bmeLinkTable.tdPart td{padding-left:0px !important; padding-right:0px !important; border:0px none transparent !important;padding-bottom:15px !important;height: auto !important;}}    
@media only screen and (max-width: 480px){.tdMblHide{width:10px !important;} }    
@media only screen and (max-width: 480px){.bmeShareItemBtn{display:table !important;}}    
@media only screen and (max-width: 480px){.bmeMblStack td {text-align: left !important;}}    
@media only screen and (max-width: 480px){.bmeMblStack .bmeFollowItem{clear:both !important; padding-top: 10px !important;}}    
@media only screen and (max-width: 480px){.bmeMblStackCenter .bmeFollowItemText{padding-left: 5px !important;}}    
@media only screen and (max-width: 480px){.bmeMblStackCenter .bmeFollowItem{clear:both !important;align-self:center; float:none !important; padding-top:10px;margin: 0 auto;}}    
@media only screen and (max-width: 480px){    
.tdPart> table{width:100% !important;}    
}    
@media only screen and (max-width: 480px){.tdPart>table.bmeLinkContainer{ width:auto !important; }}    
@media only screen and (max-width: 480px){.tdPart.mblStackCenter>table.bmeLinkContainer{ width:100% !important;}}     
.blk_parent:first-child, .blk_parent{float:left;}    
.blk_parent:last-child{float:right;}    
/*** BMEMBF END ***/    
    
table[name="bmeMainBody"], body {background-color:#a6e9d7;}    
 td[name="bmePreHeader"] {background-color:transparent;}    
 td[name="bmeHeader"] {background:#ffffff;background-color:#1fc899;}    
 td[name="bmeBody"], table[name="bmeBody"] {background-color:#ffffff;}    
 td[name="bmePreFooter"] {background-color:#ffffff;}    
 td[name="bmeFooter"] {background-color:transparent;}    
 td[name="tblCell"], .blk {font-family:initial;font-weight:normal;font-size:initial;}    
 table[name="blk_blank"] td[name="tblCell"] {font-family:Arial, Helvetica, sans-serif;font-size:14px;}    
 [name=bmeMainContentParent] {border-color:#808080;border-width:0px;border-style:none;border-radius:0px;border-collapse:separate;border-spacing:0px;overflow:hidden;}    
 [name=bmeMainColumnParent] {border-color:transparent;border-width:0px;border-style:none;border-radius:0px;}    
 [name=bmeMainColumn] {border-color:transparent;border-width:0px;border-style:none;border-radius:0px;border-collapse:separate;border-spacing:0px;}    
 [name=bmeMainContent] {border-color:transparent;border-width:0px;border-style:none;border-radius:0px;border-collapse:separate;border-spacing:0px;}    
    
</style>    
</head>    
<body marginheight=0 marginwidth=0 topmargin=0 leftmargin=0 style="height: 100% !important; margin: 0; padding: 0; width: 100% !important;min-width: 100%;">    
    
<table width="100%" cellspacing="0" cellpadding="0" border="0" name="bmeMainBody" style="background-color: rgb(166, 233, 215);" bgcolor="#a6e9d7"><tbody><tr><td width="100%" valign="top" align="center">    
<table cellspacing="0" cellpadding="0" border="0" name="bmeMainColumnParentTable"><tbody><tr><td name="bmeMainColumnParent" style="border-collapse: separate; border: 0px none transparent; border-radius: 0px;">       
<table name="bmeMainColumn" class="bmeHolder bmeMainColumn" style="max-width: 600px; border-image: initial; border-radius: 0px; border-collapse: separate; border-spacing: 0px; overflow: visible;" cellspacing="0" cellpadding="0" border="0" align="center"><tbody><tr><td width="100%" class="blk_container bmeHolder" name="bmePreHeader" valign="top" align="center" style="color: rgb(102, 102, 102); border: 0px none transparent;" bgcolor=""></td></tr>   <tr><td width="100%" class="bmeHolder" valign="top" align="center" name="bmeMainContentParent" style="border: 0px none rgb(128, 128, 128); border-radius: 0px; border-collapse: separate; border-spacing: 0px; overflow: hidden;">    
<table name="bmeMainContent" style="border-radius: 0px; border-collapse: separate; border-spacing: 0px; border: 0px none transparent;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center"><tbody><tr><td width="100%" class="blk_container bmeHolder" name="bmeHeader" valign="top" align="center" style="border: 0px none transparent; background-color: rgba(17, 75, 58, 0.4); color: rgb(56, 56, 56);" bgcolor="#1fc899"><div id="dv_11" class="blk_wrapper" style="">    
<table width="600" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_divider" style=""><tbody><tr><td class="tblCellMain" style="padding: 5px 20px;">    
<table class="tblLine" cellspacing="0" cellpadding="0" border="0" width="100%" style="border-top-width: 0px; border-top-style: none; min-width: 1px;"><tbody><tr><td><span></span></td></tr></tbody>    
</table></td></tr></tbody>    
</table></div><div id="dv_3" class="blk_wrapper" style="">    
<table class="blk" name="blk_image" width="600" border="0" cellpadding="0" cellspacing="0"><tbody><tr><td>    
<table width="100%" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="bmeImage" style="padding: 20px; border-collapse: collapse;" align="center"><img    
 src="" class="mobile-img-large" width="560" style="max-width: 1120px; display: block; width: 560px;" alt="" border="0"></td></tr></tbody>    
</table></td></tr></tbody>    
</table></div><div id="dv_18" class="blk_wrapper" style="">    
<table width="600" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_divider" style=""><tbody><tr><td class="tblCellMain" style="padding: 10px 20px;">    
<table class="tblLine" cellspacing="0" cellpadding="0" border="0" width="100%" style="border-top-width: 0px; border-top-style: none; min-width: 1px;"><tbody><tr><td><span></span></td></tr></tbody>    
</table></td></tr></tbody>    
</table></div><div id="dv_1" class="blk_wrapper" style="">    
<table width="600" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_text"><tbody><tr><td>    
<table cellpadding="0" cellspacing="0" border="0" width="100%" class="bmeContainerRow"><tbody><tr><td class="tdPart" valign="top" align="center">    
<table cellspacing="0" cellpadding="0" border="0" width="600" name="tblText" style="float:left; background-color:transparent;" align="left" class="tblText"><tbody><tr><td valign="top" align="left" name="tblCell" style="padding: 5px 20px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 400; color: rgb(56, 56, 56); text-align: left;" class="tblCell"><div style="line-height: 125%; text-align: center;"><span style="font-size: 48px; font-family: Impact, Chicago; color: #ffffff; line-height: 125%;">    
<em><strong>Newsletter X</strong></em></span></div></td></tr></tbody>    
</table></td></tr></tbody>    
</table></td></tr></tbody>    
</table></div><div id="dv_15" class="blk_wrapper" style="">    
<table width="600" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_text"><tbody><tr><td>    
<table cellpadding="0" cellspacing="0" border="0" width="100%" class="bmeContainerRow"><tbody><tr><td class="tdPart" valign="top" align="center">    
<table cellspacing="0" cellpadding="0" border="0" width="600" name="tblText" style="float:left; background-color:transparent;" align="left" class="tblText"><tbody><tr><td valign="top" align="left" name="tblCell" style="padding: 5px 20px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 400; color: rgb(56, 56, 56); text-align: left;" class="tblCell"><div style="line-height: 150%; text-align: center;"><span style="font-size: 32px; font-family: Tahoma, Arial, Helvetica, sans-serif; color: #ffffff; line-height: 180%;">As noticias de hoje, {{nome}}!</span></div></td></tr></tbody>    
</table></td></tr></tbody>    
</table></td></tr></tbody>    
</table></div><div id="dv_17" class="blk_wrapper" style="">    
<table width="600" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_image"><tbody><tr><td>    
<table width="100%" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td align="center" class="bmeImage" style="border-collapse: collapse; padding: 20px;"><img    
 src="" class="mobile-img-large" width="560" style="max-width: 1120px; display: block; width: 560px;" alt="" border="0"></td></tr></tbody>    
</table></td></tr></tbody>    
</table></div><div id="dv_19" class="blk_wrapper" style="">    
<table width="600" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_divider" style=""><tbody><tr><td class="tblCellMain" style="padding-top:20px; padding-bottom:20px;padding-left:20px;padding-right:20px;">    
<table class="tblLine" cellspacing="0" cellpadding="0" border="0" width="100%" style="border-top-width: 0px; border-top-style: none; min-width: 1px;"><tbody><tr><td><span></span></td></tr></tbody>    
</table></td></tr></tbody>    
</table></div>
</td></tr> <tr><td width="100%" class="blk_container bmeHolder bmeBody" name="bmeBody" valign="top" align="center" style="color: rgb(56, 56, 56); border: 0px none transparent; background-color: rgb(255, 255, 255);" bgcolor="#ffffff"><div id="dv_22" class="blk_wrapper" style="">    
<table width="600" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_divider" style=""><tbody><tr><td class="tblCellMain" style="padding: 10px 20px;">    
<table class="tblLine" cellspacing="0" cellpadding="0" border="0" width="100%" style="border-top-width: 0px; border-top-style: none; min-width: 1px;"><tbody><tr><td><span></span></td></tr></tbody>    
</table></td></tr></tbody>    
</table></div><div id="dv_20" class="blk_wrapper" style="">    
<table width="600" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_button" style=""><tbody><tr><td width="20"></td><td align="center">    
<table class="tblContainer" cellspacing="0" cellpadding="0" border="0" width="100%"><tbody><tr><td height="20"></td></tr><tr><td align="center">    
<table cellspacing="0" cellpadding="0" border="0" class="bmeButton" align="center" style="border-collapse: separate;"><tbody><tr><td style="border-radius: 0px; border: 0px none transparent; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding: 20px 40px; font-weight: bold; " class="bmeButtonText"><span style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 16px; color: rgb(255, 255, 255);">    

</table></td></tr><tr><td height="20"></td></tr></tbody>    
</table></td><td width="20"></td></tr></tbody>    
</table></div><div id="dv_21" class="blk_wrapper" style="">    
<table width="600" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_card"><tbody><tr><td class="bmeImageCard" align="center" style="padding-left:20px; padding-right:20px; padding-top:20px; padding-bottom:20px;">    
<table width="100%" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td valign="top" class="bmeImageContainer" style="border-collapse: collapse; background-color: rgb(241, 241, 241);">    
<table cellspacing="0" cellpadding="0" border="0" width="100%"><tbody><tr><td valign="top" align="center" class="tdPart">    
<table cellspacing="0" cellpadding="0" border="0" class="bmeImageTable" width="560" style="padding: 0px !important;" dimension="100%"><tbody><tr><td name="bmeImgHolder" align="center" valign="top" height=""><img    
 src="https://cdn.icon-icons.com/icons2/430/PNG/512/news27_42521.png" class="mobile-img-large" width="560" style="max-width: 560px; display: block;" alt="" border="0"></td></tr></tbody>    
</table>    
<table cellspacing="0" cellpadding="0" border="0" class="bmeCaptionTable" width="560"><tbody><tr><td style="padding: 20px; font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 14px; color: rgb(56, 56, 56); text-align: left;" name="tblCell" valign="top" align="left" class="tblCell"><div style="line-height: 150%;"><span style="font-size: 18px; font-family: Tahoma, Arial, Helvetica, sans-serif; color: #424242; line-height: 150%;"><strong>{{primeiraNoticia}}</strong></span>    

</table></td></tr></tbody>    
</table></td></tr></tbody>    
</table></td></tr></tbody>    
</table></div><div id="dv_23" class="blk_wrapper" style="">    
<table width="600" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_button"><tbody><tr><td width="25"></td><td align="center">    
<table class="tblContainer" cellspacing="0" cellpadding="0" border="0" width="100%"><tbody><tr><td height="0"></td></tr><tr><td align="center">    
<table cellspacing="0" cellpadding="0" border="0" class="bmeButton" align="center" style="border-collapse: separate;"><tbody><tr><td style="border-radius: 0px; border: 0px none transparent; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding: 15px 40px; font-weight: bold; background-color: rgb(74, 78, 161);" class="bmeButtonText"><span style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 14px; color: rgb(255, 255, 255);">    
<a style="color:#FFFFFF;text-decoration:none;" target="_blank">Ler materia completa</a></span></td></tr></tbody>    
</table></td></tr><tr><td height="0"></td></tr></tbody>    
</table></td><td width="25"></td></tr></tbody>    
</table></div><div id="dv_4" class="blk_wrapper" style="">    
<table width="600" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_divider" style=""><tbody><tr><td class="tblCellMain" style="padding: 10px 20px;">    
<table class="tblLine" cellspacing="0" cellpadding="0" border="0" width="100%" style="border-top-width: 0px; border-top-style: none; min-width: 1px;"><tbody><tr><td><span></span></td></tr></tbody>    
</table></td></tr></tbody>    
</table></div>

</td></tr> <tr><td width="100%">     
<table class="bmeHolder" name="bmeBody" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="color: rgb(56, 56, 56); border: 0px none transparent; background-color: rgb(255, 255, 255);" bgcolor="#ffffff"> <tbody><tr> <td width="100%" valign="top" align="center">   <div>    
<table class="blk_parent1" cellspacing="0" cellpadding="0" style="max-width: 600px;" width="600" align="center"><tbody><tr><td valign="top" align="center" width="50%" class="tdPart">      
<table cellspacing="0" cellpadding="0" border="0" width="100%" class="bmeHolder1" style="float:left;" align="left"><tbody><tr><td valign="top" align="center" class="blk_container bmeLeftColumn" name="bmeLeftColumn" style="color: rgb(56, 56, 56);   " bgcolor=""><div id="dv_8" class="blk_wrapper" style="">    
<table width="300" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_card"><tbody><tr><td class="bmeImageCard" align="center" style="padding-left:20px; padding-right:20px; padding-top:20px; padding-bottom:20px;">    
<table width="100%" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td valign="top" class="bmeImageContainer" style="border-collapse: collapse; background-color: rgb(241, 241, 241);">    
<table cellspacing="0" cellpadding="0" border="0" width="100%"><tbody><tr><td valign="top" align="center" class="tdPart">    
<table cellspacing="0" cellpadding="0" border="0" class="bmeImageTable" width="260" style="padding: 0px !important;" dimension="100%"><tbody><tr><td name="bmeImgHolder" align="center" valign="top" height=""><img    
 src="https://cdn.icon-icons.com/icons2/430/PNG/512/news27_42521.png" width="260" style="max-width: 260px; display: block;" alt="" border="0"></td></tr></tbody>    
</table>    
<table cellspacing="0" cellpadding="0" border="0" class="bmeCaptionTable" width="260"><tbody><tr><td style="padding: 20px; font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 14px; color: rgb(56, 56, 56); text-align: left;" name="tblCell" valign="top" align="left" class="tblCell"><div style="line-height: 150%;"><span style="font-size: 14px; font-family: Tahoma, Arial, Helvetica, sans-serif; color: #424242; line-height: 150%;"><strong>{{segundaNoticia}}</strong></span>    
 
</table></td></tr></tbody>    
</table></td></tr></tbody>    
</table></td></tr></tbody>    
</table></div><div id="dv_5" class="blk_wrapper" style="">    
<table width="300" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_button"><tbody><tr><td width="25"></td><td align="center">    
<table class="tblContainer" cellspacing="0" cellpadding="0" border="0" width="100%"><tbody><tr><td height="0"></td></tr><tr><td align="center">    
<table cellspacing="0" cellpadding="0" border="0" class="bmeButton" align="center" style="border-collapse: separate;"><tbody><tr><td style="border-radius: 0px; border: 0px none transparent; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding: 15px 40px; font-weight: bold; background-color: rgb(74, 78, 161);" class="bmeButtonText"><span style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 14px; color: rgb(255, 255, 255);">    
<a style="color:#FFFFFF;text-decoration:none;" target="_blank">Ler materia completa</a></span></td></tr></tbody>    
</table></td></tr><tr><td height="0"></td></tr></tbody>    
</table></td><td width="25"></td></tr></tbody>    
</table></div><div id="dv_26" class="blk_wrapper" style="">    
<table width="300" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_divider" style=""><tbody><tr><td class="tblCellMain" style="padding: 10px 20px;">    
<table class="tblLine" cellspacing="0" cellpadding="0" border="0" width="100%" style="border-top-width: 0px; border-top-style: none; min-width: 1px;"><tbody><tr><td><span></span></td></tr></tbody>    
</table></td></tr></tbody>    
</table></div><div id="dv_29" class="blk_wrapper" style="">    
<table width="300" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_card"><tbody><tr><td class="bmeImageCard" align="center" style="padding-left:20px; padding-right:20px; padding-top:20px; padding-bottom:20px;">    
<table width="100%" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td valign="top" class="bmeImageContainer" style="border-collapse: collapse; background-color: rgb(241, 241, 241);">    
<table cellspacing="0" cellpadding="0" border="0" width="100%"><tbody><tr><td valign="top" align="center" class="tdPart">    
<table cellspacing="0" cellpadding="0" border="0" class="bmeImageTable" width="260" style="padding: 0px !important;" dimension="100%"><tbody><tr><td name="bmeImgHolder" align="center" valign="top" height=""><img    
 src="https://cdn.icon-icons.com/icons2/430/PNG/512/news27_42521.png" width="260" style="max-width: 260px; display: block;" alt="" border="0"></td></tr></tbody>    
</table>    
<table cellspacing="0" cellpadding="0" border="0" class="bmeCaptionTable" width="260"><tbody><tr><td style="padding: 20px; font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 14px; color: rgb(56, 56, 56); text-align: left;" name="tblCell" valign="top" align="left" class="tblCell"><div style="line-height: 150%;"><span style="font-size: 14px; font-family: Tahoma, Arial, Helvetica, sans-serif; color: #424242; line-height: 150%;"><strong>{{quartaNoticia}}</strong></span>    
 
</table></td></tr></tbody>    
</table></td></tr></tbody>    
</table></td></tr></tbody>    
</table></div><div id="dv_30" class="blk_wrapper" style="">    
<table width="300" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_button"><tbody><tr><td width="25"></td><td align="center">    
<table class="tblContainer" cellspacing="0" cellpadding="0" border="0" width="100%"><tbody><tr><td height="0"></td></tr><tr><td align="center">    
<table cellspacing="0" cellpadding="0" border="0" class="bmeButton" align="center" style="border-collapse: separate;"><tbody><tr><td style="border-radius: 0px; border: 0px none transparent; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding: 15px 40px; font-weight: bold; background-color: rgb(74, 78, 161);" class="bmeButtonText"><span style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 14px; color: rgb(255, 255, 255);">    
<a style="color:#FFFFFF;text-decoration:none;" target="_blank">Ler materia completa</a></span></td></tr></tbody>    
</table></td></tr><tr><td height="0"></td></tr></tbody>    
</table></td><td width="25"></td></tr></tbody>    
</table></div>

<div id="dv_31" class="blk_wrapper" style="">    
<table width="300" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_divider" style=""><tbody><tr><td class="tblCellMain" style="padding: 10px 20px;">    
<table class="tblLine" cellspacing="0" cellpadding="0" border="0" width="100%" style="border-top-width: 0px; border-top-style: none; min-width: 1px;"><tbody><tr><td><span></span></td></tr></tbody>    
</table></td></tr></tbody>    
</table></div>
</td></tr></tbody>    
</table></td><td valign="top" align="center" width="50%" class="tdPart">     
<table cellspacing="0" cellpadding="0" border="0" width="100%" class="bmeHolder1" style="float:right;" align="right"><tbody><tr><td valign="top" align="center" class="blk_container bmeRightColumn" name="bmeRightColumn" style="color: rgb(56, 56, 56);   " bgcolor=""><div id="dv_24" class="blk_wrapper" style="">    
<table width="300" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_card"><tbody><tr><td class="bmeImageCard" align="center" style="padding-left:20px; padding-right:20px; padding-top:20px; padding-bottom:20px;">    
<table width="100%" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td valign="top" class="bmeImageContainer" style="border-collapse: collapse; background-color: rgb(241, 241, 241);">    
<table cellspacing="0" cellpadding="0" border="0" width="100%"><tbody><tr><td valign="top" align="center" class="tdPart">    
<table cellspacing="0" cellpadding="0" border="0" class="bmeImageTable" width="260" style="padding: 0px !important;" dimension="100%"><tbody><tr><td name="bmeImgHolder" align="center" valign="top" height=""><img    
 src="https://cdn.icon-icons.com/icons2/430/PNG/512/news27_42521.png" width="260" style="max-width: 260px; display: block;" alt="" border="0"></td></tr></tbody>    
</table>    
<table cellspacing="0" cellpadding="0" border="0" class="bmeCaptionTable" width="260"><tbody><tr><td style="padding: 20px; font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 14px; color: rgb(56, 56, 56); text-align: left;" name="tblCell" valign="top" align="left" class="tblCell"><div style="line-height: 150%;"><span style="font-size: 14px; font-family: Tahoma, Arial, Helvetica, sans-serif; color: #424242; line-height: 150%;"><strong>{{terceiraNoticia}}</strong></span>    
 
</table></td></tr></tbody>    
</table></td></tr></tbody>    
</table></td></tr></tbody>    
</table></div><div id="dv_27" class="blk_wrapper" style="">    
<table width="300" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_button"><tbody><tr><td width="25"></td><td align="center">    
<table class="tblContainer" cellspacing="0" cellpadding="0" border="0" width="100%"><tbody><tr><td height="0"></td></tr><tr><td align="center">    
<table cellspacing="0" cellpadding="0" border="0" class="bmeButton" align="center" style="border-collapse: separate;"><tbody><tr><td style="border-radius: 0px; border: 0px none transparent; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding: 15px 40px; font-weight: bold; background-color: rgb(74, 78, 161);" class="bmeButtonText"><span style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 14px; color: rgb(255, 255, 255);">    
<a style="color:#FFFFFF;text-decoration:none;" target="_blank">Ler materia completa</a></span></td></tr></tbody>    
</table></td></tr><tr><td height="0"></td></tr></tbody>    
</table></td><td width="25"></td></tr></tbody>    
</table></div><div id="dv_28" class="blk_wrapper" style="">    
<table width="300" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_divider" style=""><tbody><tr><td class="tblCellMain" style="padding: 10px 20px;">    
<table class="tblLine" cellspacing="0" cellpadding="0" border="0" width="100%" style="border-top-width: 0px; border-top-style: none; min-width: 1px;"><tbody><tr><td><span></span></td></tr></tbody>    
</table></td></tr></tbody>    
</table></div><div id="dv_6" class="blk_wrapper" style="">    
<table width="300" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_card"><tbody><tr><td class="bmeImageCard" align="center" style="padding-left:20px; padding-right:20px; padding-top:20px; padding-bottom:20px;">    
<table width="100%" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td valign="top" class="bmeImageContainer" style="border-collapse: collapse; background-color: rgb(241, 241, 241);">    
<table cellspacing="0" cellpadding="0" border="0" width="100%"><tbody><tr><td valign="top" align="center" class="tdPart">    
<table cellspacing="0" cellpadding="0" border="0" class="bmeImageTable" width="260" style="padding: 0px !important;" dimension="100%"><tbody><tr><td name="bmeImgHolder" align="center" valign="top" height=""><img    
 src="https://cdn.icon-icons.com/icons2/430/PNG/512/news27_42521.png" width="260" style="max-width: 260px; display: block;" alt="" border="0"></td></tr></tbody>    
</table>    
<table cellspacing="0" cellpadding="0" border="0" class="bmeCaptionTable" width="260"><tbody><tr><td style="padding: 20px; font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 14px; color: rgb(56, 56, 56); text-align: left;" name="tblCell" valign="top" align="left" class="tblCell"><div style="line-height: 150%;"><span style="font-size: 14px; font-family: Tahoma, Arial, Helvetica, sans-serif; color: #424242; line-height: 150%;"><strong>{{quintaNoticia}}</strong></span>    
 
</table></td></tr></tbody>    
</table></td></tr></tbody>    
</table></td></tr></tbody>    
</table></div><div id="dv_25" class="blk_wrapper" style="">    
<table width="300" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_button"><tbody><tr><td width="25"></td><td align="center">    
<table class="tblContainer" cellspacing="0" cellpadding="0" border="0" width="100%"><tbody><tr><td height="0"></td></tr><tr><td align="center">    
<table cellspacing="0" cellpadding="0" border="0" class="bmeButton" align="center" style="border-collapse: separate;"><tbody><tr><td style="border-radius: 0px; border: 0px none transparent; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding: 15px 40px; font-weight: bold; background-color: rgb(74, 78, 161);" class="bmeButtonText"><span style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 14px; color: rgb(255, 255, 255);">    
<a style="color:#FFFFFF;text-decoration:none;" target="_blank">Ler materia completa</a></span></td></tr></tbody>    
</table></td></tr><tr><td height="0"></td></tr></tbody>    
</table></td><td width="25"></td></tr></tbody>    
</table></div><div id="dv_7" class="blk_wrapper" style="">    
<table width="300" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_divider" style=""><tbody><tr><td class="tblCellMain" style="padding: 10px 20px;">    
<table class="tblLine" cellspacing="0" cellpadding="0" border="0" width="100%" style="border-top-width: 0px; border-top-style: none; min-width: 1px;"><tbody><tr><td><span></span></td></tr></tbody>    
</table></td></tr></tbody>    
</table></div>


</td></tr></tbody>    
</table>  </td></tr></tbody>    
</table></div>  </td> </tr> </tbody>    
</table> </td></tr> <tr><td width="100%" class="blk_container bmeHolder" name="bmePreFooter" valign="top" align="center" style="border: 0px none transparent; background-color: rgb(255, 255, 255);" bgcolor="#ffffff"><div id="dv_10" class="blk_wrapper" style="">    
<table width="600" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_divider" style=""><tbody><tr><td class="tblCellMain" style="padding: 20px;">    
<table class="tblLine" cellspacing="0" cellpadding="0" border="0" width="100%" style="border-top-width: 2px; border-top-style: solid; min-width: 1px; border-top-color: rgb(241, 241, 241);"><tbody><tr><td><span></span></td></tr></tbody>    
</table></td></tr></tbody>    
</table></div><div id="dv_9" class="blk_wrapper" style="">    
<table width="600" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_button" style=""><tbody><tr><td width="20"></td><td align="center">    
<table class="tblContainer" cellspacing="0" cellpadding="0" border="0" width="100%"><tbody><tr><td height="20"></td></tr><tr><td align="center">    
<table cellspacing="0" cellpadding="0" border="0" class="bmeButton" align="center" style="border-collapse: separate;"><tbody><tr><td style="border-radius: 0px; border: 0px none transparent; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding: 20px 40px; font-weight: bold; background-color: rgb(243, 156, 18);" class="bmeButtonText"><span style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 16px; color: rgb(255, 255, 255);">    
<a style="color:#FFFFFF;text-decoration:none;" target="_blank">Extra</a></span></td></tr></tbody>    
</table></td></tr><tr><td height="20"></td></tr></tbody>    
</table></td><td width="20"></td></tr></tbody>    
</table></div><div id="dv_13" class="blk_wrapper" style="">    
<table cellspacing="0" cellpadding="0" border="0" name="blk_divider" width="600" class="blk"><tbody><tr><td style="padding: 10px 20px;" class="tblCellMain">    
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-top-width: 0px; border-top-style: none; min-width: 1px;" class="tblLine"><tbody><tr><td><span></span></td></tr></tbody>    
</table></td></tr></tbody>    
</table></div><div id="dv_14" class="blk_wrapper" style="">    
<table cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(31, 200, 153);" name="blk_social_follow" width="600" class="blk"><tbody><tr><td class="tblCellMain" align="center" style="padding-top:20px; padding-bottom:20px; padding-left:20px; padding-right:20px;">    
<table class="tblContainer mblSocialContain" cellspacing="0" cellpadding="0" border="0" align="center" style="text-align:center;"><tbody><tr><td class="tdItemContainer" style="">    
<table cellspacing="0" cellpadding="0" border="0" class="mblSocialContain" style="table-layout: auto;"><tbody><tr><td valign="top" name="bmeSocialTD" class="bmeSocialTD"><!--[if gte mso 6]></td><td align="left" valign="top"><![endif]-->    
<table cellspacing="0" cellpadding="0" border="0" class="bmeFollowItem" type="facebook" style="float: left; display: block;" align="left"><tbody><tr><td align="left" class="bmeFollowItemIcon" gutter="20" width="24" style="padding-right:20px;height:20px;">    
<a href="http://benchmarkemail.benchurl.com/c/l?u=5EE6FDB&e=8E4B52&c=91CEA&t=1&l=7889F345&email=hL2iimIGZvj2QooSzVze1t7P%2FZjRPRKrj2c0%2B7DqUhU%3D&seq=1" target=_blank  style="display: inline-block;background-color: rgba(0, 0, 0, 0);border-radius: 28px;border-style: solid; border-width: 2px; border-color: rgb(255, 255, 255);" target="_blank"><img    
 src="https://ui.benchmarkemail.com/images/editor/socialicons/fb_btn.png" alt="Facebook" style="display: block; max-width: 114px;" border="0" width="24" height="24"></a></td></tr></tbody>    
</table><!--[if gte mso 6]></td><td align="left" valign="top"><![endif]-->    
<table cellspacing="0" cellpadding="0" border="0" class="bmeFollowItem" type="twitter" style="float: left; display: block;" align="left"><tbody><tr><td align="left" class="bmeFollowItemIcon" gutter="20" width="24" style="padding-right:20px;height:20px;">    
<a href="http://benchmarkemail.benchurl.com/c/l?u=5EE6FDD&e=8E4B52&c=91CEA&t=1&l=7889F345&email=hL2iimIGZvj2QooSzVze1t7P%2FZjRPRKrj2c0%2B7DqUhU%3D&seq=1" target=_blank  style="display: inline-block;background-color: rgba(0, 0, 0, 0);border-radius: 28px;border-style: solid; border-width: 2px; border-color: rgb(255, 255, 255);" target="_blank"><img    
 src="https://ui.benchmarkemail.com/images/editor/socialicons/tw_btn.png" alt="Twitter" style="display: block; max-width: 114px;" border="0" width="24" height="24"></a></td></tr></tbody>    
</table><!--[if gte mso 6]></td><td align="left" valign="top"><![endif]-->    
<table cellspacing="0" cellpadding="0" border="0" class="bmeFollowItem" type="email" style="float: left; display: block;" align="left"><tbody><tr><td align="left" class="bmeFollowItemIcon" gutter="20" width="24" style="height:20px;">    
<a href="mailto:" style="display: inline-block;background-color: rgba(0, 0, 0, 0);border-radius: 28px;border-style: solid; border-width: 2px; border-color: rgb(255, 255, 255);" target="_blank"><img    
 src="https://ui.benchmarkemail.com/images/editor/socialicons/em_btn.png" alt="Email" style="display: block; max-width: 114px;" border="0" width="24" height="24"></a></td></tr></tbody>    
</table></td></tr></tbody>    
</table></td></tr></tbody>    
</table></td></tr></tbody>    
</table></div>


</td></tr> </tbody>    
</table></td> </tr>  <tr><td width="100%" class="blk_container bmeHolder" name="bmeFooter" valign="top" align="center" style="color: rgb(102, 102, 102); border: 0px none transparent;" bgcolor=""><div id="dv_12" class="blk_wrapper">    
<table width="600" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_permission" style=""><tbody><tr><td name="tblCell" class="tblCell" style="padding:20px;" valign="top" align="left">    
<table cellpadding="0" cellspacing="0" border="0" width="100%"><tbody><tr><td name="bmePermissionText" style="text-align:left;" align="left"><span style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 11px;line-height: 140%;">    
<a style="color: #16a7e0;" target="_new" href="http://benchmarkemail.benchurl.com/c/v?e=8E4B52&c=91CEA&t=1&l=7889F345&email=hL2iimIGZvj2QooSzVze1t7P%2FZjRPRKrj2c0%2B7DqUhU%3D">View this email in your browser</a>
</span></td></tr></tbody>    
</table></td></tr></tbody>    
</table></div><div id="dv_16" class="blk_wrapper">    
<table width="600" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_footer" style=""><tbody><tr><td name="tblCell" class="tblCell" style="padding:20px;" valign="top" align="left">    
<table cellpadding="0" cellspacing="0" border="0" width="100%"><tbody><tr><td name="bmeBadgeText" style="text-align:left; word-break: break-word;" align="left"><span id="spnFooterText" style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 11px; line-height: 140%;">This message was sent to amilcar.cruz@benchmarkemail.com by benchmarkdesignsystem.gmail.com@email.benchmarkapps.com    
<br>10621 Calle Lee, Building 141, Los Alamitos, CA, 90720</span>    
<br>    
<br><span style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 11px; line-height: 140%;"><span href=http://benchmarkemail.benchurl.com/c/su?e=8E4B52&c=91CEA&t=1&l=7889F345&email=hL2iimIGZvj2QooSzVze1t7P%2FZjRPRKrj2c0%2B7DqUhU%3D&relid=><img    
 src="https://www.benchmarkemail.com/images/verified.png" alt="Unsubscribe from all mailings" title="Unsubscribe from all mailings" border="0"></span>     
<a class=bmefootertext  target=_new  href="http://benchmarkemail.benchurl.com/c/su?e=8E4B52&c=91CEA&t=1&l=7889F345&email=hL2iimIGZvj2QooSzVze1t7P%2FZjRPRKrj2c0%2B7DqUhU%3D&relid="  style="color:inherit;text-decoration:underline;">Unsubscribe</a>   |     
<a class=bmefootertext  target=_new  href="http://benchmarkemail.benchurl.com/c/s?e=8E4B52&c=91CEA&t=1&l=7889F345&email=hL2iimIGZvj2QooSzVze1t7P%2FZjRPRKrj2c0%2B7DqUhU%3D&relid="  style="color:inherit;text-decoration:underline;">Manage Subscription</a>   |      
<a class=bmefootertext  target=_new  href="http://benchmarkemail.benchurl.com/c/f?e=8E4B52&c=91CEA&t=1&l=7889F345&email=hL2iimIGZvj2QooSzVze1t7P%2FZjRPRKrj2c0%2B7DqUhU%3D&relid="  style="color:inherit;text-decoration:underline;">Forward Email</a>  |      
<a class=bmefootertext  target=_new  href="http://benchmarkemail.benchurl.com/Abuse?e=8E4B52&c=91CEA&t=1&l=7889F345&email=hL2iimIGZvj2QooSzVze1t7P%2FZjRPRKrj2c0%2B7DqUhU%3D&relid="  style="color:inherit;text-decoration:underline;">Report Abuse</a>    
<br></span></td></tr><tr><td name="bmeBadgeImage" style="text-align: left; padding-top: 20px; word-break: break-word;" align="left">    
<a href="http://www.benchmarkemail.com?p=500289" target="_new"><img    
 src="https://www.benchmarkemail.com/images/web4/misc/emailfooter/opt12.png"  style="max-width:144px;" border=0 /></a></td></tr></tbody>    
</table></td></tr></tbody>    
</table></div></td></tr> </tbody>    
</table> </td></tr></tbody>    
</table></td></tr></tbody>    
</table>    
</body>    
</html><img    
 src='http://benchmarkemail.benchurl.com/c/o?e=8E4B52&c=91CEA&t=1&l=7889F345&email=hL2iimIGZvj2QooSzVze1t7P%2FZjRPRKrj2c0%2B7DqUhU%3D&relid=' alt='' border=0 style="display:none;" height=1 width=1>        
   
